*
!.gitignore
!.gitmodules
!libraries/
!libraries/Adafruit_BusIO/
!libraries/Adafruit_BusIO/**
!libraries/Adafruit_GFX_Library/
!libraries/Adafruit_GFX_Library/**
!libraries/Adafruit_PWM_Servo_Driver/
!libraries/Adafruit_PWM_Servo_Driver/**
!libraries/GyverOLED/
!libraries/GyverOLED/**
!hardware/
!hardware/Arduino_STM32/
!hardware/Arduino_STM32/drivers/
!hardware/Arduino_STM32/drivers/**
!hardware/Arduino_STM32/tools/
!hardware/Arduino_STM32/tools/**
!hardware/Arduino_STM32/STM32F1/
!hardware/Arduino_STM32/STM32F1/*
!hardware/Arduino_STM32/STM32F1/cores/**
!hardware/Arduino_STM32/STM32F1/system/**
!hardware/Arduino_STM32/STM32F1/variants/**
!hardware/Arduino_STM32/STM32F1/libraries/
!hardware/Arduino_STM32/STM32F1/libraries/Adafruit_GFX_AS/
!hardware/Arduino_STM32/STM32F1/libraries/Adafruit_GFX_AS/**
!hardware/Arduino_STM32/STM32F1/libraries/MazeSolvingGR/
!hardware/Arduino_STM32/STM32F1/libraries/MazeSolvingGR/**
!hardware/Arduino_STM32/STM32F1/libraries/Wire/
!hardware/Arduino_STM32/STM32F1/libraries/Wire/**
!hardware/Arduino_STM32/STM32F1/libraries/SPI/
!hardware/Arduino_STM32/STM32F1/libraries/SPI/**
!hardware/Arduino_STM32/STM32F1/libraries/MPU6050_Maze/
!hardware/Arduino_STM32/STM32F1/libraries/MPU6050_Maze/**
!hardware/Arduino_STM32/STM32F1/libraries/huskylens_stm32/
!hardware/Arduino_STM32/STM32F1/libraries/huskylens_stm32/**